<section class="about">
    <div class="flex_abaut">
        <div class="dib_boxtext_titl">
            <h1 class="title_about_red" >About Us</h1>
            <p class="p_div_about_textmini ">
                The model offers a framework for discussing problems related to the user's experience, 
                as well as possible ways and means of solving them. Application development begins at the top level (strategy),
                where the future software product is described quite 
                abstractly from the point of view of the expectations of both users and the customer.
            </p>
            <!-- nomber1 -->
            <div class="nomber_flex">
                <!-- 1 -->
                <div class="nomber">
                    <h1 class="red_nymber">800</h1>
                    <p class="titl_numberbox">Pupils</p>
                </div>
                <!-- 1 -->

                <!-- 2 -->
                <div class="nomber">
                    <h1 class="red_nymber">18</h1>
                    <p class="titl_numberbox">Teachers</p>
                </div>
                <!-- 2 -->

                <!-- 3 -->
                <div class="nomber">
                    <h1 class="red_nymber">6</h1>
                    <p class="titl_numberbox">Foreign languages</p>
                </div>
                <!-- 3 -->
            </div>
            <!-- nomber1 -->
        </div>
        <div class="img_folars">
            <img class="img_red_folars" src="/src/img/dollar.png" alt="img">
        </div>
    </div>
</section>
