<section>
    <div>
        <div>
            <div>
        <h2 class="Aboutus">
            About Us
        </h2>
            </div>
            <div>
        <p class="pp">
            The model offers a framework for discussing problems related to the user's experience, as well as possible ways and means of solving them. Application development begins at the top level (strategy), where the future software product is described quite abstractly from the point of view of the expectations of both users and the customer.
            </p>  
            </div>
            <div>
        <ul>
            <li>
                <p class="wow">800</p><p class="waw">18</p><p class="www">6</p>
            </li>
            <li>
                <p class="Pupils">
                    Pupils
                </p>
            </li>
            <li>
                <p class="Teachers">
                    Teachers
                </p>
            </li>
            <li>
                <p class="languages">
                    Foreign languages
                </p>
            </li>
        </ul>
        </div>
        </div>
        <img class="photo" src="./img/dollar.png" alt="">
    </div>
</section>