<section>
    <div class="contactus">
        <div class="contactus_flex">
            <!-- img -->
            <div class="red_img_contactus">
                <img class="img_contactus" src="/src/img/contactus.png" alt="img">
            </div>
            <!-- title -->
            <div class="text_contactus">
                <h1 class="h1_titl">Contact Us</h1>
                <p class="p_contactus">
                Discover your current English level by taking our
                free online English test.Sign up to our newsletter
                 for learning tips and free resources
                </p>
                <div class="but_input_contactus">
                    <input class="input_contactus" placeholder="Enter Your E-mail" type="text">
                    <button class="button_contactus">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</section>