<footer>
    <div class="footer">
        <div class="solid_footer"></div>
    </div>
    <div class="footer_flex">
        <div class="div-logo_header - red_foot_logo_footer">
            <p class="logo redqwe">Brit<span class="lex_teht_red">lex</span></p>
          </div>
        <ul class="ul_fot">
            <li class="li_foot_colo - red_liszka">
                <a class="li_footer_red" href="#">Terms and Conditions</a>
            </li>
            <li class="li_foot_colo">
                <a class="li_footer_red" href="#">Privacy Policy</a>
            </li>
            <li class="li_foot_colo">
                <a class="li_footer_red" href="#">Cookie Policy</a>
            </li>
        </ul>
    </div>
</footer>
