<section>
    <div class="flex__geroi">
        <div class="titl_geroi animate__animated animate__fadeInLeft">
            <h1 class="red_titgero ">Learn Any Foreign Language</h1>
            <p class="text_pod_tit_geroi ">
                With our teachers who write a program for each student,
                you will be able to make your first sketch after the first lesson.
            </p>
            <button class="but_geroi">Get started</button>
        </div>
        <div class="pos_img_red">
            <img class="img_pos_razm" src="/src/img/pos_geroi.png" alt="img">
        </div>
        <div class="img_geroi">
            <img class="img_glav_geroi_red" src="/src/img/glav_geroi.png" alt="img">
        </div>
    </div>
</section>