<header>
    <div class="heder_flex">
      <div class="div-logo_header">
        <p class="logo">Brit<span class="lex_teht_red">lex</span></p>
      </div>
      <ul class="ul_header">
        <li class="li_header">
          <a class="a_header" href="#">Home</a>
        </li>
        <li class="li_header">
          <a class="a_header" href="#">Skills</a>
        </li>
        <li class="li_header">
          <a class="a_header" href="#">About Us </a>
        </li>
        <li class="li_header">
          <a class="a_header" href="#">Pricing</a>
        </li>
        <li class="li_header">
          <a class="a_header" href="#">Contacts</a>
        </li>
      </ul>
      <div class="div-button_header">
        <button type="button" class="bitn_red_header">Let’s Talk</button>
      </div>
    </div>
  </header>