<section>
    <div class="">
        <div class="title_pricing">
            <h1 class="h1_titl_pricing">Pricing</h1>
        </div>
        <div class="box_flex_pricing">
            <!-- 1 -->
            <div class="box_pricing">
                <img class="img_red_pricing" src="/src/img/pricinhg_box1.png" alt="img">
                <h1 class="titl_boks">Self-study online course</h1>
                <p class="p_pricing_text">
                Start learning English online in live classes
                with qualified EC teachers and students 
                from all over the world.
                </p>
                <button type="button" class="button_pricing"> £5.99 <span class="text_but_span_pricing">per month</span></button>
            </div>
            <!-- 2 -->
            <div class="box_pricing">
                <img class="img_red_pricing_red" src="/src/img/pricinhg_box2.png" alt="img">
                <h1 class="titl_boks">Live online classes</h1>
                <p class="p_pricing_text">
                    Interactive group classes with expert
                    teachers. Free 7-day trial
                </p>
                <button type="button" class="button_pricing red2">  £12.99 <span class="text_but_span_pricing">per month</span></button>
            </div>
            <!-- 3 -->
            <div class="box_pricing">
                <img class="img_red_pricing" src="/src/img/pricinhg_box3.png" alt="img">
                <h1 class="titl_boks">Personal Tuition</h1>
                <p class="p_pricing_text">
                    Online one-to-one English tutoring – enjoy
                    our first session for only $1
                </p>
                <button type="button" class="button_pricing red3">  £20.99 <span class="text_but_span_pricing">per month</span></button>
            </div>
        </div>
    </div>
</section>
