<section class="section_skil">
    <div class="titl_skil">
        <h1 class="titl__red_skil">Skills</h1>
    </div>
    <div class="conteiner">
        <div class="div_red_flex">
            <div class="box1_skil">
                <img class="img_box1__skil" src="/src/img/skil_box1.png" alt="img">
                    <div class="pad_red_box_skill">
                        <h1 class="titl_box_skil">
                            Speaking
                        </h1>
                        <p class="p_box_skil b1oxred">
                            Improve your English skills and confidence. 
                            Live classes and interactive lessons online. 
                            20% extra free for a limited time only
                        </p>
                        <p class="p_box_skil_obza">
                            Learn English online and improve your 
                            skills through our high-quality courses
                            and resources – all designed for adult language learners.
                        </p>
                        <button type="button" class="button_skil">Learn more</button>
                    </div>
            </div>
        
            <div class="red_flex_conteiner">
                <div class="box2_skil">
                    <img class="img_box1__skil red22" src="/src/img/skil_box2.png" alt="img">
                    <div class="pad_red_box_skill">
                        <h1 class="titl_box_skil">
                            Writing
                        </h1>
                        <p class="p_box_skil">
                            One of the most important and extensive 
                            areas of natural science, the science that 
                            studies substances, also their composition 
                        </p>
                        <button type="button" class="button_skil">Learn more</button>
                    </div>
                </div>
                <div class="box3_skil">
                    <img class="img_box1__skil red33" src="/src/img/skil_box3.png" alt="img">
                    <div class="pad_red_box_skill">
                        <h1 class="titl_box_skil">
                            Reading
                        </h1>
                        <p class="p_box_skil">
                            perception and response actions of the user
                            resulting from the use and/or upcoming use 
                            of the product, system or service
                        </p>
                        <button type="button" class="button_skil">Learn more</button>
                    </div>
                </div>
                <div class="box4_skil">
                    <img class="img_box1__skil red44" src="/src/img/skil_box4.png" alt="img">
                    <div class="pad_red_box_skill box4_red_skil">
                        <h1 class="titl_box_skil">
                            Listening
                        </h1>
                        <p class="p_box_skil">
                            Here you can find activities to practise
                            your listening skills. Listening will help you
                            to improve your understanding 
                        </p>
                        <button type="button" class="button_skil">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>