.contactus {
    margin-top: 9%;
}

// img
.img_contactus {
    width: 470px;
    height: 420px;
    margin-right: 50px;
}

// flex
.contactus_flex {
    display: flex;
    justify-content: center;
}

// title
.h1_titl {
    padding: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}

// text
.p_contactus {
    padding: 20px;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 680px;
}

// input>button
.input_contactus {
    width: 450px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #8F95A5;
    //text
    color: #8F95A5;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
}

// but
.button_contactus {
    width: 200px;
    height: 60px;
    border-radius: 10px;
    background: #263238;
    transition: 0.2s;
    cursor: pointer;

    // text
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button_contactus:hover {
    background-color: #FFF;
    color: #000;
}

.but_input_contactus {
    padding: 20px;
}


@media(max-width: 992px) and (min-width:767px) {
    .contactus {
        margin-top: 15%;
    }

    .img_contactus {

        width: 340px;
        height: 360px;
    }

    .input_contactus {
        width: 330px;
    }

    .p_contactus {
        width: 400px;
    }
}

@media(max-width: 767px) {
    .img_contactus {
        width: 250px;
        height: 260px;
        margin-top: 50px;
        margin-right: 0px;
    }

    .input_contactus {
        width: 270px;
    }

    .p_contactus {
        width: 500px;
    }
}