.flex__geroi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titl_geroi {
    width: 400px;
    height: 350px;

}

.red_titgero {
    color: #000;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.text_pod_tit_geroi {
    color: #8F95A5;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}


.img_glav_geroi_red {
    height: 500px;
    padding-left: 100px;
}

.but_geroi {
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background: #263238;
    cursor: pointer;
    transition: 0.3s;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px;
    margin-top: 35px;
}

.but_geroi:hover {
    color: #000;
    background-color: #ffffff00;
    border: 2px solid #000;
}

// positi
.pos_img_red {
    position: absolute;
    left: 520px;
    top: 220px;
}



@media(max-width: 1920px) and (min-width:1025px) {
    .pos_img_red {
        top: 200px;
        left: 720px;
    }
}

@media(max-width: 1496px) and (min-width:1025px) {
    .pos_img_red {
        top: 200px;
        left: 510px;
    }

    body {
        background-color: aquamarine;
    }
}

@media(max-width: 1024px) and (min-width:992px) {

    .pos_img_red {
        position: absolute;
        top: 120px;
        left: 250px;
    }

    .flex__geroi {
        margin-top: 20px;
    }

    .img_glav_geroi_red {
        height: 450px;
        padding-left: 50px;
    }

    .red_titgero {
        font-size: 45px;
        width: 170px;
        line-height: 45px;
    }
}

@media(max-width: 992px) and (min-width:767px) {
    .flex__geroi {
        margin-top: 50px;
    }
}

@media(max-width: 767px) and (min-width:575px) {


    .img_glav_geroi_red {
        height: 360px;
        padding-left: 0;
        width: 330px;
    }

    .flex__geroi {
        margin-top: 100px;
    }

    .red_titgero {
        font-size: 50px;
        width: 340px;
    }

    .text_pod_tit_geroi {
        font-size: 23px;
        margin-top: 15px;
    }

    .pos_img_red {
        top: 180px;
        left: 230px;
    }

    body {
        background-color: rgb(199, 159, 236);
    }
}

@media(max-width: 576px) and (min-width:321px) {
    body {
        background-color: rgba(95, 158, 160, 0.444);
    }

    .img_glav_geroi_red {
        height: 400px;
        padding-left: 0;
    }

    .pos_img_red {
        display: none;
    }

    .red_titgero {
        width: 450px;
        font-size: 35px;
        text-align: center;
    }

    .flex__geroi {
        margin-top: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        align-content: center;
    }

    .text_pod_tit_geroi {
        text-align: center;
        margin-top: 10px;
        font-size: 16px;
    }

    .but_geroi {
        display: block;
        margin: auto;
        margin-top: 30px;
    }
}