.flex__geroi {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titl_geroi {
    width: 400px;
    height: 350px;

}

.red_titgero {
    color: #000;
    font-family: Poppins;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
}

.text_pod_tit_geroi {
    color: #8F95A5;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 25px;
}


.img_glav_geroi_red {
    height: 500px;
    padding-left: 100px;
}

.but_geroi {
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background: #263238;
    cursor: pointer;
    transition: 0.3s;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 10px;
    margin-top: 35px;
}

.but_geroi:hover {
    color: #000;
    background-color: #ffffff00;
    border: 2px solid #000;
}

// positi
.pos_img_red {
    position: absolute;
    left: 520px;
    top: 220px;
}