//flex
.box_flex_pricing {
    display: flex;
    justify-content: center;
}

// text_title
.h1_titl_pricing {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    text-align: center;
    padding: 20px;
}

// text_title
// img
.img_red_pricing {
    margin: 10px;
    width: 260px;
    height: 260px;
}

.img_red_pricing_red {
    margin: 10px;
    height: 260px;
}

//img
//boks text
.titl_boks {
    color: #263238;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
}

.p_pricing_text {
    color: #8F95A5;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 350px;
}

//boks text
//box
.box_pricing {
    margin: 30px;
}

//box
// button_pricing
.button_pricing {
    width: 190px;
    height: 40px;
    margin-top: 25px;
    border-radius: 5px;
    background: #EEE;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    // text
    color: #263238;
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button_pricing:hover {
    background-color: #161616;
    color: #EEE;
}

.text_but_span_pricing:hover {
    color: #EEE;
}

.red2 {
    margin-top: 45px;
}

.red3 {
    margin-top: 45px;
}

// 
.text_but_span_pricing {
    transition: 0.3s;
    position: relative;
    color: #546269;
    vertical-align: top;
    margin: auto;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 5px;
}


// button_pricing


@media(max-width: 992px) and (min-width:767px) {
    .box_pricing {
        margin: 10px 10px 0px 13px;
    }

    .img_red_pricing_red {
        height: 240px;
        width: 280px;
    }

    .img_red_pricing {
        height: 240px;
        width: 280px;
    }

    .p_pricing_text {
        width: 280px;
        font-size: 17px;
    }

    .titl_boks {
        font-size: 25px;
    }
}

@media(max-width: 767px) {
    .titl_boks {}

    .img_red_pricing_red {
        height: 200px;
    }

    .img_red_pricing {
        height: 200px;
        width: 220px;
    }

    .box_pricing {
        margin: 0;
    }

    .titl_boks {
        width: 200px;
        margin-left: 40px;
    }

    .p_pricing_text {
        width: 200px;
        font-size: 17px;
        margin-left: 40px;
    }

    .button_pricing {
        margin-left: 35px;
    }
}

@media(max-width: 576px) and (min-width:321px) {
    .box_flex_pricing {
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img_red_pricing {
        width: 300px;
        height: 300px;
        display: block;
        margin: auto;
    }

    .img_red_pricing_red {
        height: 270px;
    }

    .titl_boks {
        text-align: center;
        width: auto;
        margin-left: 0;
    }

    .p_pricing_text {
        text-align: center;
        width: 340px;
        margin-left: 0;
    }

    .button_pricing {
        display: block;
        margin: auto;
        margin-top: 20px;
    }

    .box_pricing {
        margin: 20px;
    }


    .p_contactus {
        margin-top: 300px;
    }

    .h1_titl {
        text-align: center;
    }

    .img_contactus {
        position: absolute;
        margin: auto;
        margin-top: 150px;
        margin-left: 150px;
    }

    .p_contactus {
        text-align: center;
    }
}

@media(max-width: 322px) {
    .box_flex_pricing {
        flex-direction: column;
        align-items: center;
    }

    .titl_boks {
        text-align: center;
        margin-left: 0;
        line-height: 30px;
        width: 320px;
        font-size: 25px;
    }

    .img_red_pricing {
        display: block;
        margin: auto;
    }

    .p_pricing_text {
        text-align: center;
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .button_pricing {
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .box_pricing {
        margin: 0px 0px 30px;
    }
}