.section_skil {
    margin-bottom: 100px;
}

// flex
.div_red_flex {
    display: flex;
    grid-gap: 10px;
}

.red_flex_conteiner {
    display: flex;
    flex-wrap: wrap;
}

// flex
.pad_red_box_skill {
    margin: 0px 50px;
}

// titl
.titl_skil {
    text-align: center;
}

.titl__red_skil {
    padding: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}

// text
.titl_box_skil {
    color: #263238;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    padding-bottom: 10px;
}

.p_box_skil {
    padding-bottom: 10px;
    width: 330px;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.b1oxred {
    padding-bottom: 40px;
}

.p_box_skil_obza {
    padding-bottom: 20px;
    width: 300px;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// text
// butn


.button_skil {
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background: #263238;
    cursor: pointer;
    transition: 0.3s;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 19px;
}

.button_skil:hover {
    color: #000;
    background-color: #ffffff00;
    border: 2px solid #000;
}

// box1
.box1_skil {
    width: 430px;
    height: 900px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box1
// box2
.box2_skil {
    margin: 0px 10px 0px 0px;
    width: 430px;
    height: 545px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box2
// box3
.box3_skil {
    width: 430px;
    height: 545px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box3
// box4
.box4_skil {
    width: 870px;
    height: 340px;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
}

.red44 {
    float: right;
    padding: 50px 32px 0px;
}

.box4_red_skil {
    margin: 50px;
}

// box4
// conteiner
.conteiner {
    margin: 0px 25vh;
}

.red22 {
    // float: right;
    margin-left: 150px;
    height: 247px;
}