.section_skil {
    margin-bottom: 100px;
}

// flex
.div_red_flex {
    display: flex;
    grid-gap: 10px;
}

.red_flex_conteiner {
    display: flex;
    flex-wrap: wrap;
}

// flex
.pad_red_box_skill {
    margin: 0px 50px;
}

// titl
.titl_skil {
    text-align: center;
}

.titl__red_skil {
    padding: 20px;
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
}

// text
.titl_box_skil {
    color: #263238;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px;
    padding-bottom: 10px;
}

.p_box_skil {
    padding-bottom: 10px;
    width: 330px;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.b1oxred {
    padding-bottom: 40px;
}

.p_box_skil_obza {
    padding-bottom: 20px;
    width: 300px;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

// text
// butn


.button_skil {
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background: #263238;
    cursor: pointer;
    transition: 0.3s;

    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 19px;
}

.button_skil:hover {
    color: #000;
    background-color: #ffffff00;
    border: 2px solid #000;
}

// box1
.box1_skil {
    width: 430px;
    height: 900px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box1
// box2
.box2_skil {
    margin: 0px 10px 0px 0px;
    width: 430px;
    height: 545px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box2
// box3
.box3_skil {
    width: 430px;
    height: 545px;
    border-radius: 10px;
    background: #F5F5F5;
}

// box3
// box4
.box4_skil {
    width: 870px;
    height: 340px;
    background: #f5f5f5;
    border-radius: 10px;
    margin-top: 10px;
}

.red44 {
    float: right;
    padding: 50px 32px 0px;
}

.box4_red_skil {
    margin: 50px;
}

// box4
// conteiner
.conteiner {
    margin: 0px 10vh;
}

.red22 {
    // float: right;
    margin-left: 150px;
    height: 247px;
}

@media(max-width: 1920px) and (min-width:1025px) {
    // .conteiner {
    //     margin: 0 50vh
    // }
}

@media(max-width: 1496px) and (min-width:1025px) {
    .box1_skil {
        height: 850px;
    }

    .box2_skil {
        height: 500px;
    }

    .red22 {
        height: 220px;
    }

    .box3_skil {
        height: 500px;
    }

    .img_box1__skilbox333 {
        height: 200px;
        width: 430px;
    }
}

@media(max-width: 1025px) and (min-width:992px) {}

@media(max-width: 992px) and (min-width:767px) {


    .conteiner {
        margin: 0 5vh;
    }

    .img_box1__skil {
        height: 300px;
    }

    .pad_red_box_skill {
        margin: 0 20px;
    }

    .p_box_skil {
        width: 250px;
    }

    .p_box_skil_obza {
        width: 260px;
    }

    .box1_skil {
        width: 330px;
        height: 810px;
    }

    .box2_skil {
        width: 300px;
        height: 500px;
    }

    .red22 {
        height: 178px;
        margin-left: 90px;
    }

    .box3_skil {
        width: 300px;
        height: 500px;
    }

    .img_box1__skilbox333 {
        height: 200px;
        width: 300px;
    }

    .box4_skil {
        width: 610px;
        height: 300px;
    }

    .img_box1__skilbox44 {
        height: 240px;
    }
}

@media(max-width: 767px) and (min-width:575px) {
    .conteiner {
        margin: 0px 3vh;
    }

    .box1_skil {
        width: 236px;
        height: 810px;
    }

    .img_box1__skil {
        width: 236px;
    }

    .pad_red_box_skill {
        margin: 0 10px
    }

    .p_box_skil {
        width: 220px;
    }

    .p_box_skil_obza {
        width: 200px;
    }

    .button_skil {
        width: 180px;
        height: 50px;
    }

    // 2

    .box2_skil {
        width: 240px;
    }

    .red22 {
        margin-left: 0;
    }

    // 3
    .box3_skil {
        width: 230px;
    }

    .img_box1__skilbox333 {
        width: 255px;
        height: 245px;
    }

    .box4_skil {
        width: 480px;
        height: 255px;
    }

    .img_box1__skilbox44 {
        height: 200px;
        position: absolute;
        top: 1186px;
        right: -18px;
    }

    .titl_box_skil {
        padding-bottom: 0;
    }

    .redqwe {
        width: 300px;
    }


}

@media(max-width: 576px) and (min-width:321px) {
    .div_red_flex {}

    .conteiner {
        margin: 0 5vh;
    }

    .red_flex_conteiner {
        flex-wrap: 0;
    }

    .red_boxbut5 {
        margin-top: 193px;
    }

    .img_box1__skil {
        width: 245px;
    }

    .box1_skil {
        width: 250px;
        height: 750px;
    }

    .box2_skil {
        height: 750px;
    }

    .box3_skil {
        width: 240px;
        position: absolute;
        top: 1685px;
        left: 35px;
    }

    .box4_skil {
        width: 240px;
        height: 545px
    }

    .red575_box4_text {
        margin-top: 255px;
    }

    .img_box1__skilbox44 {
        top: 1683px;
        right: 40px;
    }

}

// it is  problem 575px
@media(max-width: 322px) {
    .conteiner {
        margin: auto;
    }

    .div_red_flex {
        flex-direction: column;
        justify-content: center;
    }

    .box1_skil {
        width: 300px;
        display: block;
        margin: auto;
        height: 740px;
    }

    .img_box1__skil {
        height: 300px;
    }

    .pad_red_box_skill {
        margin: 0 10px;
    }

    .p_box_skil {
        width: 300px;
    }

    .p_box_skil_obza {
        width: 280px;
    }

    // 2
    .box2_skil {
        width: 300px;
        display: block;
        margin: auto;
        height: 600px;
    }

    .img_box1__skil {
        margin-left: 0;
    }

    // 3
    .box3_skil {
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 10px;
        height: 500px;
    }

    .img_box1__skilbox333 {
        height: 200px;
    }

    // 4
    .box4_skil {
        height: 500px;
        width: 300px;
        display: block;
        margin: auto;
        margin-top: 10px;
    }

    .img_box1__skilbox44 {
        height: 200px;
        padding: 0;
    }
}